@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


@font-face{
  font-family: RobotoLight;
  src:url('../assets/custom-theme/fonts/Gilroy-FREE/Gilroy-Light.otf')
}
@font-face{
  font-family: RobotoBold;
  src:url('../assets/custom-theme/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf')
}
@font-face{
  font-family: 'SF Pro';
  src:url('../assets/custom-theme/fonts/SF  PRO/SF-Pro.ttf') format('truetype')

}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'SF Pro';
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: 1920px;
  //max-height: 960px;
  min-width: 1280px;
  min-height: 800px;
  background: #123077;
  // overflow-x: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;

}
